.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*:focus {
  outline: none;
}

.form input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btns:hover {
  cursor: pointer;
}

form button {
  background-color: black;
  color: white;
  margin-left: 12px;
  transition: 1s all ease;
}

form button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.chat-app {
  display: flex;
  width: 1200px;
  max-width: 96%;
  height: 540px;
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eef5f9;
  z-index: 100;
}

.chat-message-composer {
  height: 20px;
}
.chat-left-sidebar {
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: scroll;
}
.chat-right-sidebar {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: scroll;
}
.chat-app-header {
  display: flex;
  color: white;
  justify-content: space-between;
  background-color: #111b21;
  padding: 10px;
  align-items: center;
  height: 58px;
}

.icons {
  display: flex;
  gap: 40px;
}

.chat-app-user-list {
  display: flex;
  justify-content: space-evenly;
}

.add-members button {
  background-color: transparent;
  border: none;
}
.add-members button:hover {
  background-color: transparent;
}

.add-members button:focus {
  background-color: transparent;
}

.add-members {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-members select option {
  width: 70%;
  padding: 20px;
}

.add-members select:hover {
  cursor: pointer;
}

.groupsMem {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0c6efd;
  color: white;
}

.chat-app-message-list {
  height: calc(100% - 106px);
}
.chat-message-composer {
  height: 58px;
  background-color: white;
}

.chat-app-message-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.chat-app-message-list {
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

.chat-app-message-list > div > :nth-child(1) {
  color: black;
  border: none;
  margin-top: 10px;
  margin-left: 80%;
  padding: 0px 15px;
  background-color: #e1ffc7;
  border-radius: 10px;
}

.message-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-app-message-list div div + div:hover {
  cursor: pointer;
}

.chat-app-message-list > div p {
  margin-bottom: 1px;
}

.Groups-and-Chats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Groups-and-Chats img {
  width: 20%;
}
.Groups-and-Chats p {
  margin-bottom: 0rem;
  font-size: 20px;
  font-family: cursive;
}
.createBtn {
  margin-top: 10px;
}

.groupPic-and-GroupName-parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupPic-and-GroupName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.groupPic-and-GroupName {
  cursor: pointer;
}

.groupPic-and-GroupName img {
  width: 20%;
}

.groupPic-and-GroupName p {
  margin-bottom: 0rem;
  font-size: 25px;
  font-family: cursive;
}

.msg {
  color: #916706;
  width: 53%;
  margin: 15% auto;
}

.chat-app-user-list p {
  font-size: 22px;
  background-color: #111b21;
  color: white;
  width: 79%;
  padding: 12px 10px;
  margin-left: -3px;
  margin-bottom: 15px;
  border-bottom-left-radius: 10px;
}

.chat-app-user-list img {
  width: 55px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .chat-left-sidebar {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .chat-left-sidebar {
    width: 140px;
  }
}
